body {
    font-family: 'Times New Roman';
    text-align: center;
    background-color: rgb(255, 219, 247);
    cursor: crosshair;
}

#top-hr {
    width: 90%;
    border-top: 6px dashed rgb(130, 231, 141);
}

.header {
    background-color: white;
    border-radius: 30px;
    height: 150px;
    width: 600px;
    margin: auto;
    border: 10px solid rgb(140, 231, 141); 
    color:rgb(76, 126, 77);
    font-family: Verdana, sans-serif;
    position: relative;
    top: 15px;
}

#name {
    font-size: 60px;
    position: relative;
    top: -20px;
}

#title {
    position: relative;
    bottom: 50px;
}

.main {
    background-color: white;
    height: 950px;
    width: 1100px;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 40px;
    border: 8px solid rgb(140, 231, 141);
    color:rgb(76, 126, 77);
}

.main2 {
    font-size: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

.headings {
    width: 300px;
    height: 45px;
    border: 6px solid rgb(140, 231, 141);
    border-radius: 30px;
    background-color:rgb(255, 219, 247);
    margin-left: auto;
    margin-right: auto;
}

.portfolio_img {
    box-sizing: border-box;
    height: 150px;
    width: 150px;
    margin-left: 5px;
    margin-right: 5px;
}

.portfolio_img:hover {
    border: 5px solid rgb(140, 231, 141);
}

.main-bottom {
    display: flex;
}

.contact {
    font-size: 20px;
    position: relative;
    top: 100px;
    text-align: left;
}

#phone {
    width: 170px;
    height: 170px;
    position: relative;
    left: 300px;
    top: 30px;
}

#phoneCred {
    position: relative;
    left: 295px;
    top: 10px;
    font-size: 15px;
}

#envelope {
    width: 200px;
    height: 130px;
    position: relative;
    left: 150px;
    top: 50px;
}

#envelopeCred {
    position: relative;
    left: 150px;
    top: 40px;
    font-size: 15px;
}
